/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

a {
	text-decoration: none;	
}

a:hover {
	color: #B1663C;
	cursor: pointer;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: #B1663C;
	cursor: pointer;
}

.log-button {
	padding: 0 10px;
	cursor: pointer;
    color: black;
}

.click {
	cursor: pointer;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/*Filtres*/
.filters {
	width: 55%;
    display: flex;
    flex-direction: row;
    margin: 40px;
    padding-left: 250px;
    justify-content: space-evenly;
}

.filters>*{
    padding: 12px 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #1D6154;
	font-family: 'Syne';
	cursor: pointer;
}

.filters>*:hover{
	background-color: #1D6154;
	color: white;
	cursor: pointer;
}

/*Galerie photo*/
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.gallery img {
	width: 100%;
	cursor: pointer;
}

/* Mode edition */
.edition-bar {
	position: absolute;
	width: 100vw;
	height: 30px;
	background-color: black;
	display: flex;
    justify-content: center;
    align-items: center;
	gap: 5px;
	top: 0;
	left: 0;
}

.edition-mode {
	color: white;
	font-size: 10px;
}

.modify-projetcs {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: baseline;
		gap: 20px;
	}

#modify {
	color: black;
	font-size: 16px;
	display: flex;

}

.modify-modal {
	gap: 10px;
	display: flex;
}

/* Modale */
#modal1 {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.modal-wrapper {
	width: 630px;
	max-width: calc(100vn - 20px);
	max-height: calc(100vh - 20px);
	padding: 20px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 1);
}

.js-modal-close {
    border: white;
    background: white;
	font-size: 18px;
}

.close-button-container {
	display: flex;
    flex-direction: row-reverse;
    padding-right: 10px;
    padding-top: 10px;
}

#titlemodal {
	font-family: Work Sans;
	font-size: 20px;
	font-weight: 400;
	line-height: 30.5px;
	text-align: center;
	color: black;
	
}

.modal-button-container {
    display: flex;
    justify-content: center;
	padding-top: 10px;
}

.add-photo-button {
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid #1D6154;
    border-radius: 25px;
    font-family: 'Syne';
    color: white;
    cursor: pointer;
    background-color: #1D6154;
    width: 250px;
}

.modal-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 20px;
	padding-top:40px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-left: 50px;
}

.modal-gallery figure {
    position: relative; /* Permet de positionner l'icône par rapport au figure */
    display: inline-block; /* Garde le contenu du figure en bloc inline */
}

.modal-gallery img {
	display: block; /* Évite les petits espaces sous l'image */
    width: 100%; /* Ajuste la largeur selon vos besoins */
}

.overlay-icon {
    position: absolute; /* Positionne l'icône par rapport au figure */
    top: 5px; /* Ajustez la position verticale de l'icône */
    right: 5px; /* Ajustez la position horizontale de l'icône */
    color: white; /* Couleur de l'icône */
    font-size: 12px; /* Taille de l'icône */
    background: black; /* Fond semi-transparent pour une meilleure visibilité */
    padding: 5px; /* Espacement autour de l'icône */
    border-radius: 2px; /* Bordure arrondie */
    cursor: pointer; /* Indicateur de clic */
}

.modal-wrapper hr {
    margin-top: 50px;
	width: 420px;
}

hr {
	border: 1px solid rgba(179, 179, 179, 1)
}

.fa-regular {
	color: white;
}

.edition-mod {
	font-size: 10px;
	color: white;
}

/*Modal2*/
#modal2 {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.modal-wrapper2 {
	width: 630px;
	max-width: calc(100vn - 20px);
	max-height: calc(100vh - 20px);
	padding: 20px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 1);
}

.buttons-close-back {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#arrow {
	font-size: 20px;
	cursor: pointer;
}

.js-back-modal1 {
	border: white;
    background: white;
}

#x {
	font-size: 20px;
	cursor: pointer;
}

#titlemodal2 {
	font-family: Work Sans;
	font-size: 20px;
	font-weight: 400;
	line-height: 30.5px;
	text-align: center;
	color: black;
}

.add-picture-modal-2 {
	width: 100%;
	height: 169px;
	border-radius: 3px 0px 0px 0px;
    background: rgba(232, 241, 246, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: space-evenly;
	margin: auto;
}

#preview {
	height: 169px;
}

#image {
	display: flex;
    justify-content: center;
    font-size: 80px;
	color: rgba(185, 197, 204, 1);
}

#error {
	background-color: #f44336;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    padding: 4px;
}

.add-picture-button {
	width: 200px;
	height: 36px;
	border-radius: 50px;
	border: rgba(203, 214, 220, 1);
	background: rgba(203, 214, 220, 1);
	font-family: Work Sans;
	font-size: 18px;
	font-weight: 500;
	line-height: 16.42px;
	text-align: center;
	color: rgba(48, 102, 133, 1);
	cursor: pointer;
}

.add-picture-button:hover {
    background-color: rgba(48, 102, 133, 1);
	color: white;
}

#image-preview {
	display: none;
	position: absolute;
	width: 129px;
	left: 655px;	
}

#p-modal-2 {
	font-family: Work Sans;
	font-size: 10px;
	font-weight: 400;
	line-height: 11.73px;
	text-align: center;
	color: rgba(68, 68, 68, 1);
}

#modal-form {
	width: 60%;
    margin: auto;
    padding-top: 10px ;
}

#modal-form form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#log-in > * {
	text-align: center;
}

#modal-form input {
	width: 100%;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#modal-form select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding-left: 10px;
}

#modal-form label {
	margin: 2em 0 1em 0;
	padding-left: 18px;
}

#title {
    width: 80%;
    padding-left: 50px;
	margin: auto;
}

.category-select-wrapper {
    position: relative;
    display: inline-block;
}

.category-select-wrapper option {
	margin: 2em 0 1em 0;
    padding-left: 18px;
	font-size: 14px;
	font-weight: 500;
}

#category {
    width: 100%;
    appearance: none;
	
}

.chevron-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333; 
}

#modal-hr-2 {
    margin-top: 50px;
	width: 350px;
	border: 1px solid rgba(179, 179, 179, 1)
}

.validation-button {
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid rgba(167, 167, 167, 1);
    border-radius: 25px;
    font-family: 'Syne';
    color: white;
    cursor: pointer;
	background: rgba(167, 167, 167, 1);
    width: 250px;
}

/* Style du bouton lorsque tous les champs sont remplis */
.validation-button.active {
	background-color: #1D6154;
}

/*Message de confirmation nouvel ajout*/
#confirmation-message {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #1D6154;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    z-index: 1000;
    display: none; /* Masqué par défaut */
}

#confirmation-message.show {
    display: block; /* Affiché */
}



/*Formulaire de contact*/
#contact {
	width: 50%;
margin: auto;
}

#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
	.filters {
		width: 60%;
        padding-left: 150px;
	}

}
